/* Magic Mirror
 * Module: FranceInfo
 *
 * By @bugsounet -- Dupont Cédric <bugsounet@bugsounet.fr>
 * MIT Licensed.
 */

#FRANCEINFO_CONTENER {
  line-height:1.1em;
  width: 100%;
  background-color: #FFF;
  color: #000;
}

#FRANCEINFO_CONTENER.showArticle {
  opacity: 1;
  transition: opacity 1s linear;
}

#FRANCEINFO_CONTENER.hideArticle {
  opacity: 0;
  transition: opacity 1s linear;
}

#FRANCEINFO_TITLE {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#FRANCEINFO_ARTICLE {
  color: #000;
  font-size: 90%;
  background-color: #fdc401;
  display: flex;
}

#FRANCEINFO_CONTENT {
  padding: 10px;
  font-size: 70%;
  text-align: left;
  height: 70px;
}

#FRANCEINFO_IMAGE {
  margin-right: 10px;
  float: left;
  max-width: 10vw;
  max-height: 10vh;
  text-align: left;
}

#FRANCEINFO_FOOTER {
  text-align:right;
}

#FRANCEINFO_LOGO {
  font-size: 100%;
  font-weight: bold;
  background-color: #000;
  color: #FFF;
  display: flex;
}

#FRANCEINFO_LOGO_PARTA {
  margin-left: 10px;
}

#FRANCEINFO_LOGO_PARTB {
  color: #fdc401;
  margin-right: 10px;
}

#FRANCEINFO_SOURCE,
#FRANCEINFO_TIME {
  font-size: 60%;
  text-align: right;
  display: inline-block;
  margin-right: 8px;
}
