/* Magic Mirror
 * Module: FranceInfo
 *
 * By @bugsounet -- Dupont Cédric <bugsounet@bugsounet.fr>
 * MIT Licensed.
 */

#FRANCEINFO_CONTENER {
  line-height:1.1em;
  width: 100%;
  background-color: #FFF;
  color: #000;
}

#FRANCEINFO_CONTENER.showArticle {
  opacity: 1;
  transition: opacity 1s linear;
}

#FRANCEINFO_CONTENER.hideArticle {
  opacity: 0;
  transition: opacity 1s linear;
}

#FRANCEINFO_TITLE {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#FRANCEINFO_ARTICLE {
  color: #000;
  font-size: 90%;
  background-color: #fdc401;
  display: flex;
}

#FRANCEINFO_CONTENT {
  padding: 10px;
  margin-top: 1px;
  font-size: 70%;
  text-align: left;
  height: 80px;
  display: flex;
}

#FRANCEINFO_IMAGE {
  margin-right: 10px;
  float: left;
  max-width: 10vw;
  max-height: 10vh;
  text-align: left;
}

#FRANCEINFO_DESCRIPTION {
  opacity: 0;
  line-height: 25px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#FRANCEINFO_DESCRIPTION.showArticle {
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0%   { opacity:0; }
  66%  { opacity:0; }
  100% { opacity:1; }
}

#FRANCEINFO_DESCRIPTION.hideArticle {
  opacity: 1;
  animation: none;
}

#FRANCEINFO_FOOTER {
  text-align:right;
}

#FRANCEINFO_LOGO {
  font-size: 100%;
  font-weight: bold;
  background-color: #414141;
  color: #FFF;
  display: flex;
}

#FRANCEINFO_LOGO_PARTA {
  margin-left: 10px;
}

#FRANCEINFO_LOGO_PARTB {
  color: #fdc401;
  margin-right: 10px;
}

#FRANCEINFO_SOURCE {
  margin-right: 8px;
  font-weight: bold;
  margin-top: -9px;
  margin-bottom: 5px;
  text-align: left;
}

#FRANCEINFO_SOURCE.start {
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: 2;
  transition: none;
  animation-delay: 1s;
}

#FRANCEINFO_SOURCE.stop {
  animation-name: stopclignoter;
  animation-iteration-count: 1;

}

@keyframes clignoter {
  0%   { opacity:1; }
  40%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes stopclignoter {
  0%   { opacity:1; }
}

#FRANCEINFO_TIME {
  font-size: 50%;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -5px;
}

#FRANCEINFO_INFO {
  width: 100%;
  height: 110px;
}

#FRANCEINFO_QRCODE {
  height: 120px;
  width: 120px;
  margin-top: 0px;
  margin-right: -10px;
  margin-left: 5px;
}

/** Vertical **/

#FRANCEINFO_CONTENER.vertical {
  font-size: 70%;
}

#FRANCEINFO_TITLE.vertical {
  display: none;
}

#FRANCEINFO_CONTENT.vertical {
  font-size: 80%;
  display: inline-block;
}

#FRANCEINFO_IMAGE.vertical {
  float: unset;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#FRANCEINFO_SOURCE.vertical {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 22px;
}

#FRANCEINFO_QRCODE.vertical {
  height: 100px;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  /* display: inline-block; */
  margin-right: 0px;
  margin-top: 3px;
  margin-left: 0px;
}

#FRANCEINFO_CONTENER_TITLE {
  display: flex;
}

#FRANCEINFO_DESCRIPTION.vertical {
  line-height: 20px;
  margin-top: 5px;
  -webkit-line-clamp: 10;
}

#FRANCEINFO_TIME.vertical {
  font-size: 60%;
  margin-top: 0px;
}
